.featureImage {
	/*background: url("../../../static/device-row-1.png");*/
	height: 550px;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;

	.col-sm-6 {
		display: inline-block;
	}

	img {
		position: absolute;
		z-index: -1;
		right: -1400px;
	}
}