.logo {
    margin-bottom: 40px;
	padding-top: 10px;    
	filter: grayscale(100%);

    label {
		cursor: pointer;
    	margin-top: 10px;
    	font-weight: normal;
    }
    img {
    	width: 90px;
    }
}

.logo:hover {
	cursor: pointer;    	
	/*filter: none;*/
	background-color: #f1f1f1;
	
	label {
		font-weight: bold;
	}
}

.noFilter {
	
		filter: none;
	
}