@import "../../theme/variables.scss";

.messagesRow {
    height: 200px;
    background: linear-gradient(45deg, #14d6ea, #662d91);
    color: white;
    padding-top: 10px;
  }

.home {
  overflow: hidden;
}